.container {
    width: 100%;
    height: 73vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}

.upper-button-box {
    position: absolute;
    right: 0;
}

.lower-button-box {
    position: sticky;
    top: 622px;
    margin-left: 20px;
}

.upper-button-box button {
    padding: .5rem 1rem .5rem 2.625rem;
}
