.container {
    z-index: 101;
    position: fixed;
    width: 100%;
}

.content {
    margin: 0 .5rem;
}

.controls {
    color: #FFF;
}

.close-control-bar {
    height: 5.25rem;
  /*  padding: 1rem 1.75rem .5rem;*/
}

.close-gallery {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;

}

.left-control {
}

.right-control {
}
